<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 读取数据源属性配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 定义数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 定义SqlSession工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 原始Dao开发 -->
	<bean id="userDao" class="com.lnc.mybatis.dao.impl.UserDaoImpl">
		<!-- 注入SqlSession工厂 -->
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 过度Mapper开发 -->
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<!-- 注入接口全类名 -->
		<property name="mapperInterface" value="com.lnc.mybatis.mapper.UserMapper" />
		<!-- 注入SqlSession工厂 -->
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 扫描Mapper开发 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描的包路径 -->
		<property name="basePackage" value="com.lnc.mybatis.mapper" />
		<!-- 注入SqlSession工厂Bean的名字 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

</beans>